# =========================
# Build files
# =========================
build/
bin/
obj/
*.o
*.so
*.a
*.out
*.exe
**/output.txt
*.log

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# =========================
# CUDA
# =========================
*.ptx
*.cubin
*.fatbin

# =========================
# Logs / profiling
# =========================
*.log
*.nsys-rep
*.qdrep
*.sqlite

# Nsight output
nsight-compute*
nsight-systems*

# =========================
# Python (if you use scripts)
# =========================
__pycache__/
*.pyc

# =========================
# Data / results (VERY IMPORTANT)
# =========================
data/
datasets/
outputs/
*.csv
*.npy
*.npz

# =========================
# Editor / OS junk
# =========================
.DS_Store
.vscode/
.idea/

# =========================
# Misc
# =========================
*.tmp
*.bak